<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Login App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button (click)="onLogout()">
    <mat-icon>login</mat-icon>
  </button>
  <ng-container *ngIf="data == null; else elseTemplate">
    <button mat-button></button>
  </ng-container>
  <ng-template #elseTemplate>
    <button mat-button>{{ +data?.nombre + ' ' + data?.apellido}}</button>
  </ng-template>

  <button class="btn btn-outline-dark buttonCerrarSesion" (click)="onLogout()">Cerrar sesión</button>
</mat-toolbar>