.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar{
  background-color: white;
  color: #765aa8;
}

.example-spacer {
  flex: 1 1 auto;
}

.buttonCerrarSesion{
  background-color: #765aa8;
  color: white;
}