.error {
  padding: 5px;
  color: red;
  border: 1px solid red;
}

.cont{
  width: 100% !important;
}

.success {
  padding: 5px;
  color: green;
  border: 1px solid green;
}

.columna1{
  padding-top: 5%;
  padding-bottom: 5%;
}

.titulo{
  text-align: center;
  color: 4c2882;
}

button{
  width: auto !important;
}

.botonDom{
  margin-right: 1%;
}

.titulo{
    margin-left: auto;
    margin-right: auto;
}


